# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspace/xcuserdata/
xcuserdata/
*.pbxuser
*.perspectivev3
!default.pbxuser
!default.perspectivev3

# macOS
.DS_Store
*.swp
*~

# Dependencies
Pods/
Carthage/

# Generated
*.ipa
*.dSYM.zip
*.dSYM

# Simulator
iOSInjectionProject/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/profiles/

# Bundler
vendor/bundle/
.bundle/
